.editable {
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 10px 15px;
	cursor: text;
	max-width: 100%;
	max-height: 100%;
    overflow: auto;
}

.showBorder {
	border: 1px solid #2B95D6;
}

.editable[placeholder]:empty:before {
    content: attr(placeholder);
    color: #5C7080;
}
