#Trash .bp3-tree-node-content {
	cursor: pointer;
}

#Trash .bp3-tree-node-caret-none {
	min-width: 0.25rem;
}

#Trash .bp3-tree-node.bp3-disabled .bp3-tree-node-content {
    background-color: inherit;
    cursor: not-allowed;
    color: rgba(92, 112, 128, 0.6);
}

#Trash .bp3-tree-node.bp3-disabled .bp3-tree-node-content .bp3-icon {
    color: rgba(92, 112, 128, 0.6);
}
