
#TopNavBarContainer {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.13);
}

#TopNavBarGroupRight .bp5-navbar-divider {
	margin: 0;
}

#WorkspaceButton:hover {
	background: none;
	color: #48aff0;
}

#WorkspaceButton:hover .bp5-icon {
	color: #48aff0;
}

#WorkspaceButton:disabled {
	cursor: default;
	color: #48aff0;
}
