/* Main CSS file */
@import './../node_modules/normalize.css/normalize.css';
@import "./../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import url("./assets/styles/colors.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Storyteller';
  src: url('./assets/fonts/Typewriter.ttf') format('truetype');
}

body {
	font-family: Verdana;
}

button:focus, .bp5-tab:focus {
  outline: none;
}

input {
	font-family: Verdana;
}

.row {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
}

.bp5-dark {
	color: #f5f8fa;
	background-color: var(--bg-color-dark);
}

.bp5-dark h2 {
	color: var(--color-h2-dark);
}

.bp5-dark .bp5-card {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.13);
	background-color: var(--bg-color-darker);
}

.bp5-navbar.bp5-dark, .bp5-dark .bp5-navbar {
	background-color: var(--bg-color-darker);
}

.bp5-input-group:not(:last-child) {
	padding-right: 10px;
}

.bp5-button.bp5-minimal:active, .bp5-button.bp5-minimal.bp5-active {
  	background:rgba(100, 162, 208, 0.34);
}

._fileTree {
  	padding: 0;
}

._file:hover, ._directory:hover {
  	background:rgba(100, 162, 208, 0.34);
}

.app_name {
  	font-family: Storyteller, arial, sans-serif;
}

.page-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.page-preview-content {
	display: flex;
	flex-direction: column;
  justify-content: center;
	width: 420px;
	height: 595px;
	overflow: hidden;
}
