/* Main CSS file */

@import './../../../node_modules/normalize.css/normalize.css';
@import "./../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";

@font-face {
  font-family: 'Storyteller';
  src: url('./../fonts/Typewriter.ttf') format('truetype');
}

body {
	font-family: Verdana;
}

button:focus, .bp3-tab:focus {
  outline: none;
}

input {
	font-family: Verdana;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
}

.bp3-dark {
    color: #f5f8fa;
    background-color: #394B59;
}

.bp3-input-group:not(:last-child) {
	padding-right: 10px;
}

.bp3-button.bp3-minimal:active, .bp3-button.bp3-minimal.bp3-active {
  	background:rgba(100, 162, 208, 0.34);
}

._fileTree {
  	padding: 0;
}

._file:hover, ._directory:hover {
  	background:rgba(100, 162, 208, 0.34);
}

.app_name {
  	font-family: Storyteller, arial, sans-serif;
}

.page-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.page-preview-content {
	display: flex;
	flex-direction: column;
    justify-content: center;
	width: 420px;
	height: 595px;
	overflow: hidden;
}
