:root {
  --color-h2-dark: #8099ac;
  --bg-color-dark: #394B59;
  --bg-color-darker: #2c3944;
  --bg-color-button-hover: #384d61;
  --bg-color-button-pressed: #304253;
  --bg-color-button-success: #2ddc99;
  --bg-color-button-success-hover: #31c98f;
}